img{
    border-radius: 50px;
    border: 3px dotted #04264E;
}

.portil{
    font-family: Arial;
    font-size: medium;
}


h2{
    font-family: helvetica;
    color: slategrey;
    border-bottom-style: dotted ;	
    border-bottom-width: ;
}


.stage{
    font-style:italic;
    font-weight: bolder;
}

.certificat{
    background-color: rgb(205, 223, 230);
    width: 20%;
}

pre {
	background-color:#CCD1D1;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 36%;
}

.temps{
    font-family: helvetica;
    font-variant: small-caps;
    font-weight: bold;
}
